# Angular
/dist
/tmp
/out-tsc
/bazel-out
/node_modules
npm-debug.log
yarn-error.log
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.angular/
.vscode/

# Laravel
/backend/vendor
/backend/node_modules
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/storage/framework/cache/*
/backend/storage/framework/sessions/*
/backend/storage/framework/views/*
/backend/storage/logs/*
/backend/.env
/backend/.env.backup
/backend/.phpunit.result.cache
/backend/docker-compose.override.yml
/backend/Homestead.json
/backend/Homestead.yaml
/backend/npm-debug.log
/backend/yarn-error.log
/backend/.idea
/backend/.vscode
/backend/.vagrant

# OS specific
.DS_Store
Thumbs.db 