<div class="container-fluid">
    <div class="content-wrapper">
      <div class="welcome-card">
        <h1 class="title">Classic Puzzle Slider</h1>
        <p class="description">Embark on a nostalgic puzzle adventure and test your wits!</p>
        <div class="button-container">
          <button (click)="goToPuzzle()" class="start-button">Start Game</button>
          <button (click)="goToSignUp()" class="signup-button">Sign Up</button>
          <button (click)="goToLogIn()" class="login-button">Log In</button>
        </div>
      </div>
    </div>
  </div>